/********************************common parts**********************************/
body{
  background-color: #EAF6F6;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}
h1{
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  font-size: 200%;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}
a{
  color: #11999E;
  text-decoration: none;
}
hr{
  border: dotted 8px;
  border-bottom:none;
  border-right: none;
  border-left: none;
  width: 10%;
  margin: 70px auto;
  color: grey;
}
address{
  margin: 40px auto;
}
span{
  font-size: 40px;
  font-weight: bold;
}
.contacts{
  display: inline-block;
}
.contact{
  border: solid 1px;
  color: white;
  background-color: #11999E;
  width: 90%;
  height: 30px;
  text-align: center;
  box-shadow: 2px 3px 3px grey;
  padding-top: 7px;
  text-decoration:none;
  margin: 30px 50px 30px auto;
  border-radius: 7px;
  border-color: #11999E;
  display: inline-block;
  transition: all 0.25s ease-out;
}
.contact:hover{
  background-color: white;
  color:#11999E;
  border-color:#11999E;
  text-decoration:none;
  text-overflow: none;
}
.btn{
  width: 10%;
  margin: 30px auto;
  background-color: #11999E;
  border: solid 1px white;
  color: white;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.25s ease-out;
}
.btn:hover{
   background-color: white;
   border-color: #11999E;
   color: #11999E;
}
footer{
  background-color: white;
  margin-bottom: 0;
  color: #11999E;
  font-size: 15px;
  font-weight: 100;
}
/*****************************************navigatior****************************************/
ul li{
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 7px 10px;
}
ul li:hover{
  background-color: #11999E;
  color: white;
}
.nav-name{
  display: inline-block;
  font-size: 25px;
  position: relative;
  top: 0;
}
.navigator{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
  overflow:
}
/******************************************common for every containers*****************************************/

.intro-top{
  width: auto;
  font-size: 5.625rem;
  margin: 4.5rem auto 0 auto;
  line-height: 1;
}
.top{
  background-color: #EAF6F6;
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
.cloud1{
  position:absolute;
  right:19.5rem;
  top: 4rem;
  margin-top: 10px;
  transition: margin-right 10s ease-out;
  }
.cloud1:hover{
  margin-right: 50%;
}
.cloud2{
  position: absolute;
  left: 15rem;
  bottom: 320px;
}
.about-top{
  margin-bottom: 75px;
}
.land{
  width: 60%;
  height: 200%;
}
/***************************************************middle container*************************************************/
.profile-img{
  margin: 50px;
  width:15rem;
  height: auto;
}
.intro-bottom{
  width:60%;
  margin: auto;
  line-height: 2;
  margin-bottom: 75px;
}
.greet{
  margin: 0 auto 50px auto;
}
.comp{
  width: 25%;
  float: left;
  margin-right:30px;
}
.game{
  width: 25%;
  float: right;
  margin-left:30px;
  margin-bottom: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
/***************************************Bottom container*******************************************************/
.social-icon{
  width: 60px;
  margin: 15px 10px 30px 10px;
  text-decoration: none;
  transition: 0.3s;
}
.social-icon:hover{
  transform: scale(1.1);
}
.social-icon-container{
  border: solid 1px;
  background-color: white;
  border-color: white;
  box-shadow: 2px 3px 3px grey;
  margin:70px 35%;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  position: relative;
  width: auto;
  }
.support-request{
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  margin-left: 45px;
  font-family: 'Montserrat', sans-serif;
}
.freelance{
  margin: 60px auto 50px auto;
}
#bottom-container,
#skills,
.contact-me,
.middle-container{
  background-color: #EAF6F6;
}
.director{
  font-size: 40px;
  margin-bottom: 20px;
}
/************************************feedback**************************************/
.feedback{
  background-color: white;
  border: solid 1px;
  border-color: white;
  box-shadow: 2px 3px 3px grey;
  margin:70px auto;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 0;
  text-align: center;
  position: relative;
  width: 50%;
  color: black;
}
.feedback1,
.feedback2{
  width: 70%;
  margin: 50px auto;
}
.fb-hr{
  margin: 10px auto 50px auto;
  width: 20%;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form textarea{
  border: 0;
  border-bottom: solid 1px #11999E;
  background-color:#EAF6F6;
  width: 100%;
  font-size: 15px;
  height: 50px;
  text-align:left;
  align-items: center;
  justify-content:center;
  scroll-behavior: smooth;
  font-weight: lighter;
  column-rule: 10px;
}
 form textarea{
  height: 150px;
}
form input:focus,
form textarea:focus{
  outline: none;
}
input{
  margin-bottom: 10px;
}
.fb{
  width: 20%;
  font-size: 20px;
  padding: 5px;
  margin-top: 30px;
}
